.container {
  padding: 4vw 0vh;
  max-width: 1100px;
  margin: 0 auto;
}

/* input{
  display: none;
} */

body {
  background: pink;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}

#title {
  letter-spacing: 1vh;
  font-size: 4vw;
  border-bottom: 1px solid black;
  padding-bottom: 1em;
  margin: 0;
  color: aqua;
}

.bayan__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1vw 0vw;
  border-bottom: 1px solid black;
  margin-bottom: 1vw;
}

.bayan__row {
  display: flex;
  justify-content: center;
  margin-bottom: 0;
  cursor: pointer;
}

.bayan__title {
  font-size: 4vh;
  margin-right: 1vw;
  margin-bottom: 0.5em;
  color: purple;
  transition: 0.5s ease all;
}

.bayan__active {
  width: 40px;
  background: none;
  transition: 0.5s ease all;
}

.bayan__mem-image {
  display: none;
  max-width: 100vw;
  padding: 0vw 10vw;
}

img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#one-img {
  display: block;
}

#one-active {
  background: url(./img/up.svg) 100% no-repeat;
}

.bayan:hover div.bayan__active {
  background: url(./img/down.svg) 100% no-repeat;
  transition: 0.5s ease all;
}

.bayan:hover span.bayan__title {
  transition: 0.5s ease all;
  color: black;
}

.bayan__item:hover div.bayan__mem-image {
  display: block;
}

.bayan__item:hover div.bayan__active {
  transition: 0.3s ease all;
  background: url(./img/up.svg) 100% no-repeat;
}

#one-title {
  color: black;
}

@media screen and (max-width: 1448px) {
  #title {
    font-size: 10vw;
    padding-left: 2vw;
  }
}

@media screen and (max-width: 564px) {
  #title {
    font-size: 8vh;
  }
}
